{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ content.title }}</h1>

	{% set image = content.image %}
	<img src="{{ image.thumbnails['400x400'] }}" alt="{{ image.description|default(image.title) }}">

    {{ content.article|raw }}

	<h2>Änderung #1 ...</h2>
	<p>... funktionierts?</p>

{% endblock %}
